.containerProduct{
    width: 1100px;
    margin: auto;
}

.wrapper {
    display: flex;
    margin: 7rem 0 3rem;
    align-items: center;
  }
  .book-image {
    border-radius: 10px;
    width: 350px;
    height: 500px;
  }
  .iconStart {
    border: 1px solid #EDB821;
    width: 130px;
    padding: 0.2em;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .checked,
  .notCheck {
    color: #EDB821;
  }
  
  .num {
    color: #EDB821;
    margin-left: 1em;
  }
  .data {
    margin-left: 5em;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .content .title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
  
  .content .author {
    margin-bottom: 1rem;
    font-size: 15px;
    color: #00000080;
  }
  .content .price {
    color: #EDB821;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .Buy {
    color: #fff;
    background-color: #EDB821;
    border: 1px solid #EDB821;
    padding: 0.7rem 1.5em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    min-width: 110px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }

  .browser {
    color: #EDB821;
    background-color: #fff;
    border: 1px solid #EDB821;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 5px;
  }
  
  

  