.paginationEng {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.engController {
  width: 92%;
  margin: 4rem;
  padding-bottom: 1rem;
}
.pagGng {
  margin-left: 3em !important;
}
