.engineerInfo{
   margin-top: 40px;
}
.paginationEng{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom:4rem;
    margin-top:2rem;
}
.engController{
    width: 80%;
    margin: auto;
    padding: 4rem;
}
.pagGng{
    margin-left: 3em !important;
}