.navbar-holder {
    height: 60px;
    background-color: #1D202F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.transparent {
  background-color: transparent;
}

.app-logo img {
    width: 13rem;
    object-fit: contain;
    padding: 20px;
    cursor: pointer;
}

.navbar-info {
    display: flex;
}

.navbar-info a {
    padding: 0 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.5px;
    transition: all .5s ease-in-out;
  position: relative;

}

.navbar-info a::after {
  content: '';
  background-color: #edb820;
  position: absolute;
  width: 0;
  height: 1px;
  left: 15px;
  bottom: -10px;
  transition: all 0.5s ease-out;

}

.navbar-info a:hover::after {
  color: #edb820;
  width: 60px;
}
.navbar-info a:hover {
  color: #edb820;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.user-info img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  border-radius: 50%;
}
.user-info p {
  white-space: nowrap;
  margin: 5px;
  justify-content: center;
  padding: 0 1rem;
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 400;
  color: #f4b301;
}
.child {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  background-color: transparent;
  background-color: #1d202f;
  position: absolute;
  top: 100%;
  display: none;
  transition: all 1s ease-in-out;
}
.child button {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  color: #f4b301;
  font-weight: 500;
}
.child button::after {
  content: '';
  background-color: #edb820;
  position: absolute;
  width: 0px;
  height: 1px;
  left: 28%;
  bottom: 10px;
  transition: all 0.5s ease-out;
  z-index: 999;
}
.child button:hover::after{
  width: 70px;
}
.user-info:hover .child {
  display: flex;
}
