.products__wrapper {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
/* .products__wrapper:last-child {
align-items: flex-start !important;
} */
.products__page__body {
  display: flex;
}
.products__title {
  margin-left: 1rem;
}
.products__sideBar {
  background-color: #f6f2f2;
  width: 20%;
  padding: 2rem;
}
.products__sideBar >* {
  margin-bottom: 3rem !important
}
.ant-slider-track,
.ant-slider-rail {
  height: 6px !important;
}
.ant-slider-track-1 {
  background-color: #edb820 !important;
}
.ant-slider-handle {
  border: 2px solid #edb820 !important;
  height: 1rem !important;
  width: 1rem !important;
}
.products__right{
    width: 80%;
    text-align: center;
    padding: 3rem;
}
.category__and__search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.category__and__search h1{
  margin: 0;
}

.category__and__search .ant-input{
  padding: auto  1rem;
  border: 1px solid #edb820;
}
::placeholder{
  color: rgba(0, 0, 0, 0.443) !important;
}
.category__and__search .ant-input:focus{
  border-color: #edb820 !important;
  box-shadow: 0 0 0 1px #edb820;
}
.category__and__search .ant-input:hover{
  border-color: #edb820 !important;
}
.ant-input-search-button{
  border: 1px solid #edb820 !important;
}