.cardStatistic {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cardStatistic .card {
    background: #1D202F;
    border-radius: 1rem;
    display: flex;
    align-items: center !important;
    align-content: center;
    height: 70%;
    justify-content: center;
    margin: 0 1% 1% 0;
    text-transform: uppercase;
    width: 15%;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 2rem;
    padding: 2rem;
  }
 .iconChart {
    font-size: 2.2rem ;
  }
.ant-statistic-content-value-int, .ant-statistic-title{
  color: #fff !important;
}
