.order__card {
  width: 24rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: #323232 0px 2px 8px 0px;
  transition: all 0.1s ease-in-out;
}

.order__card:hover {
  transform: scale(1.005);
}

.order__card ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order__card li {
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;

}

.order__card li div{
  font-weight: 300;
}

.order__status {
  background-color: #F7CB73;
  color: white;
  padding: 0.4rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.order__info {
  font-size: 0.9rem;
  font-weight: bold;
  color: #1D202F;
}
.order__card ul li div {
  text-align: end;
}