.hiring-order-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hiring-order {
  margin-top: 60px;

}
.ptag{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  height: 300px;
}