@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins:wght@300;400;500&display=swap');
tbody tr{
    border: 1px solid #EEDFF3;
    border-radius: 20px ;
    
}
td {
   border-top: 1px solid #EEDFF3;
   border-bottom: 1px solid #EEDFF3;

}
td:first-child {
    border-radius: 10px 0 0 10px;
    border-left: 1px solid #EEDFF3;

}
td:last-child{
    border-radius: 0 10px 10px 0;
    border-right: 1px solid #EEDFF3;

}

td {
    padding: 1rem 0.5rem;
    vertical-align: center;

}
td:first-child {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}
.cart-product-name{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    max-width: 200px;

}
td h6 {
    font-size: 1rem;
}

td input, .cart-quantity-input {
    width: 48px;
    height: 48px;
    padding: 0.5rem;
    background-color: #EBEBEB;
    border: none;
}

td img {
    width: 150px;
    height: 200px;
    margin-right: 1rem;
    object-fit: contain;
    background-color: #C4C4C4;
    border-radius: 20px;
}

div.cart-quantity-input, div.cart-quantity-input p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.qunatity-inputs {
    display: flex;
    align-items: center;
}

p , h6{
    margin: 0 !important;
}
.cart-quantity-input:nth-child(2n - 1) {
    color: #EDB821;
}
input[type="button" i] {
    color: #EDB821;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
input[type="button" i]:hover {
    background-color: #EDB821;
    color: #fff;
}
input[type="button" i]:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
input[type="button" i]:nth-child(3) {
    border-radius: 0 5px 5px 0;
}